
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

<div id="container" style="position: absolute; left:0; top: 0; z-index: 2" ></div>

@section scripts
{
    <script type="text/javascript">

        var stage = new Kinetic.Stage({
            container: 'container',
            width: 1200,
            height: 800
        });

        var backLayer = new Kinetic.Layer();
        var animLayer = new Kinetic.Layer();

        stage.add(backLayer);
        stage.add(animLayer);

        var config = {
            x: 100,
            y: 100,
            points: [-6,2,-6,-2,-2,-2,-2,-6,2,-6,2,-2,6,-2,6,2,2,2,2,6,-2,6,-2,2],
            stroke: 'black',
            strokeWidth: 1,
            fill: 'red',
        };

        $(document).ready(function () {

            var poly = new Kinetic.Polygon(config);
            animLayer.add(poly);
            animLayer.drawScene();
        });

    </script>
}
